*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(253, 248, 241);
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.642);
}
.logo{
    background-image: url('images/logo.png');
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    margin-top: 40px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 3ch;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}