*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(253, 248, 241);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 7px rgba(101, 101, 101, 0.799);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
body{
    padding-top: 100px;
}
.logo img{
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    margin-top: 40px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 3ch;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    
}

/* section1 */

.sect1{
    margin-top: 8%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.heroimg img{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.intro{
    padding-left: 200px;
    margin-right: 1%;
}
#greentxt{
    background-color: green;
    padding: 7px;
    color: white;
    width: fit-content;
    font-family: 'Poppins';
    font-size: 2.2ch;
    box-shadow: 10px 10px 10px rgba(95, 95, 95, 0.63);
}
#mainhead{
    font-family: 'Poppins';
    font-size: 7ch;
    word-spacing: 0.3ch;
    padding: 5px;
}
.intro p{
    font-family: 'Poppins';
    font-size: 2.2ch;
    font-weight: 300;
}
.intro a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 2.2ch;
    font-weight: 400;
}
.exploreBtn{
    margin-top: 5%;
    padding: 7px;
    background-color: rgb(255, 172, 17);
    width: fit-content;
    box-shadow: 10px 10px 10px rgba(96, 96, 96, 0.621);
}

.sect2{
    display:flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition-delay: .2s;
    margin-top: 120px;
}
.container1, .container2, .container3{
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    width: 350px;
    height: fit-content;
    padding: 20px;
    box-shadow: 7px 7px 7px rgba(107, 107, 107, 0.737);
     transition: transform 0.3s ease;
}
.container1:hover{
    transform: scale(0.9);
}
.container2:hover{
    transform: scale(0.9);
}
.container3:hover{
    transform: scale(0.9);
}
#head{
    font-family: 'Poppins',sans-serif;
    font-size: 2.7ch;
    font-weight: 500;
}
#textservice{
    margin-top: 3px;
    font-family: 'Poppins';
    font-size: 1.7ch;
}

/* MENU SECTION */
.head1{
    margin-top: 140px;
    font-family: 'Poppins',sans-serif;
    font-size: 2.5ch;
    text-align: center;
}
.menuSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head1txt{
    background-color: rgb(0, 31, 80);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(65, 65, 65, 0.618);
}

.grid-container{
    margin: 0px auto;
    width: fit-content;
    gap: 3px;
   display: grid;
   grid-template-areas: "a a b c"
                        "a a b g"
                        "d e f g";
    box-shadow: 10px 10px 10px rgba(62, 62, 62, 0.573);
}
.img1{
    grid-area: a;
    transition: transform .2s;
}
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover{
    transform: scale(0.95);
}
.img2{
    grid-area: b;
     transition: transform .2s;
}
.img3{
   grid-area: c;
    transition: transform .2s;
}
.img4{
   grid-area: d;
    transition: transform .2s;
}
.img5{
   grid-area: e;
    transition: transform .2s;
}
.img6{
   grid-area: f;
    transition: transform .2s;
}
.img7{
   grid-area: g;
    transition: transform .2s;
}

/* footer section */
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: rgba(11, 11, 11, 0.884);
    color: white;
    font-family: 'Poppins';
    font-size: 1.7ch;
}
footer ul li{
    list-style: none;
}
li{
    transition: transform .2s;
}
li:hover{
    transform: scale(1.2);
}
li a{
    color: rgba(235, 233, 233, 0.907);
    text-decoration: none;
}
li a:hover{
    cursor: pointer;
}
#foothead{
    font-size: 2.2ch;
}
.support1{
    margin-top: -20px;
}
.support2{
   margin-top: 20px;
}
.follow{
    margin-top: 10px;
}
/* copyright  section */
.copyright{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Poppins';
    word-spacing: 0.3ch;
}
.email{
    font-family: 'Poppins';
    padding: 5px;
    text-align: center;
    margin-top: 7px;
    border-radius: 20px;
}
#name{
    font-weight: 700;
}

i {
  font-size: 25px;
  margin: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: transform .2s;
}

i:hover {
  transform: scale(1.5);
}

@media(max-width : 740px){
    nav ul li{
        font-size: 1.6ch;
        margin-right: 14px;
    }
    #greentxt{
        margin-top: 30px;
        text-align: center;
    }
    .sect1{
        flex-direction: column;
        justify-content: center;
    }
    .intro{
        padding-left: 20px;
    }

}
@media(max-width:501px){
    .heroimg{
        scale: 0.9;
        align-self: center;
    }
    nav ul li{
        margin-right: 10px;
    }
    nav ul li a{
        font-size: 1ch;
    }
}
@media(max-width:480px){
    .heroimg{
        scale: 0.78;
    }
    #greentxt{
        margin-top: 10px;
    }
    .sect2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-top: 70px;
    }
    .container1, .container2, .container3{
        padding: 6px;
        gap: 5px;
        margin-top: 5px;
    }
    .grid-container{
        display: grid;
        scale: 0.33;
        margin-left: -345px;
        margin-top: -210px; 
    }
    footer{
        margin-top: -290px;
        font-size: 1.7chch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .support1{
        margin-left: 25px;
        margin-top: 5px;
    }
    .support2{
        margin-left: 55px;
        margin-top: 0px;
    }
    .copyright{
        font-size: 1.4ch;
    }
}
@media(max-width : 395px){
    .grid-container{
        margin-left: -382px;
    }
}
@media(max-width:576px){
    .sect2{
        flex-direction: column;
    }
}
@media(max-width:768px){
    #mainhead{
        font-size: 6ch;
    }
    .sect2{
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .container1, .container2, .container3{
        height: 300px;
        
    }
    footer{
        width:fit-content;
        padding: 20px;
    }
    .copyright{
        width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-areas: "a a b",
                             "a a b",
                             "d e g",
                             "c f g";
    }
}
@media(max-width:1160px){
    .grid-container{
        margin: 0 auto;
        scale: 0.9;
    }
}
@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }
  .hero_image img {
    width: 80%;
  }
  .hero_content {
    gap: 10px;

    padding: 0 20px;
  }
  .hero_content h1 {
    font-size: 32px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
  .grid {
    padding: 10px;
  }
  .grid-image {
    border-radius: 0px;
  }
  .footer_container {
    flex-direction: column;
  }
}