*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(253, 248, 241);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 7px rgba(101, 101, 101, 0.799);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
body{
    padding-top: 100px;
}
.logo img{
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    margin-top: 40px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 3ch;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    
}

/* section1 */

.sect1{
    margin-top: 8%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.heroimg img{
    width: 500px;
    height: auto;
    object-fit: contain;
}
.intro{
    padding-left: 200px;
    margin-right: 1%;
}
#greentxt{
    background-color: green;
    padding: 7px;
    color: white;
    width: fit-content;
    font-family: 'Poppins';
    font-size: 2.2ch;
    box-shadow: 10px 10px 10px rgba(95, 95, 95, 0.63);
}
#mainhead{
    font-family: 'Poppins';
    font-size: 7ch;
    word-spacing: 0.3ch;
    padding: 5px;
}
.intro p{
    font-family: 'Poppins';
    font-size: 2.2ch;
    font-weight: 300;
}
.intro a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 2.2ch;
    font-weight: 400;
}
.exploreBtn{
    margin-top: 5%;
    padding: 7px;
    background-color: rgb(255, 172, 17);
    width: fit-content;
    box-shadow: 10px 10px 10px rgba(96, 96, 96, 0.621);
}

.sect2{
    display:flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition-delay: .2s;
    margin-top: 4%;
}
.container1, .container2, .container3{
    position: relative;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: fit-content;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(107, 107, 107, 0.737);
     transition: transform 0.3s ease;
}
.container1:hover{
    transform: scale(0.9);
}
.container2:hover{
    transform: scale(0.9);
}
.container3:hover{
    transform: scale(0.9);
}
#head{
    font-family: 'Poppins',sans-serif;
    font-size: 2.7ch;
    font-weight: 500;
}
#textservice{
    margin-top: 3px;
    font-family: 'Poppins';
    font-size: 1.7ch;
}

@media(max-width : 740px){
    nav ul li{
        font-size: 1.6ch;
        margin-right: 14px;
    }
    #greentxt{
        margin-top: 30px;
        text-align: center;
    }
    .sect1{
        flex-direction: column;
        justify-content: center;
    }
    .intro{
        padding-left: 20px;
    }

}
@media(max-width:501px){
    .heroimg{
        scale: 0.9;
        align-self: center;
    }
    nav ul li{
        margin-right: 10px;
    }
    nav ul li a{
        font-size: 1ch;
    }
}
@media(max-width:480px){
    .heroimg{
        scale: 0.8;
    }
    #greentxt{
        margin-top: 10px;
    }
    .sect2{
        flex-direction: column;
    }
}
@media(max-width:576px){
    .sect2{
        flex-direction: column;
    }
}
@media(max-width:768px){
    #mainhead{
        font-size: 6ch;
    }
    .sect2{
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .container1, .container2, .container3{
        height: 300px;
        
    }
}